html {
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
}

image {
    border: none;
}

body, select { 
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    font: normal 10pt "Lucida Grande","Lucida Sans Unicode",sans-serif;
    color: #a0a0a0;
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

#everything {
    background: url(images/body-bg.png) top repeat-x;
    min-height: 100%;
}

#page-wrapper {
    margin: 0 auto;
    width: 960px;
}

#header {
    margin-bottom: 10px;
    width: 100%;
    height: 144px;
    background: url(images/singularity_logo.gif) left top no-repeat;
    border-bottom: solid 2px black;
}

.container {
    padding: 5px;
    margin-bottom: 10px;
    background: url(images/container-bg.gif) top repeat-x;
    border-bottom: solid 2px black;
    background-color: #1b1b1b;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #e0e0e0;
}

a.dimmer {
    color: #a0a0a0;
}

.bottom-links {
    text-align: center;
}

td, th {
    text-align: left;
    margin: 0;
    padding: 3px 3px 3px 3px;
    vertical-align: top;
    display: table-cell;
    border: none;
}

th {
    border-bottom: solid 1px #404040;
    background: url(images/container-bg.gif) top repeat-x;
    padding: 5px 3px 10px 3px;
}

.build-list {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    width: 100%;
    border: solid 1px #404040;
}

pre {
    font-family: monospace;
    font-size: 8pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}